.about{
    padding-top: 83px;
    background-color: #1a202c;
    color: aliceblue;
}

.Experience{
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
}
.section-headding{
    text-align: justify;

}

@media (max-width: 576.98px) {
  
    .container{
        padding-left: 40px!important;
        padding-right: 40px!important;
        padding-bottom: 40px!important;
        padding-top: 0px!important;
    }
    
  }