
  <!-- <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
    
    <div class="container-fluid logo">
    <a class="navbar-brand font-weight-bold" routerLink="/home">{{logo}}</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  <div class="collapse navbar-collapse" id="navbarcollapse" >
      <ul class="navbar-nav justify-content-center ml-auto mt-1 mb-1 me-3">
          <li class="nav-item">
          <a class="nav-link px-lg-4 smooth-scroll" data-bs-offset="64px" href="#home">Home</a></li>
          <li class="nav-item">
            <a class="nav-link px-lg-4 smooth-scroll" href="#about" >About</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" routerLink="/mywork">MyWork</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" routerLink="/skills">Skills</a></li>
          <button type="button" class="btn1 btn btn-danger px-lg-4">Resume</button>
        </ul>
    </div> 
   
  </nav> -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="#navbar1" data-bs-spy="scroll" data-bs-target="#navbar1" >
    
    <div class="container-fluid logo">
    <a class="navbar-brand font-weight-bold" routerLink="/home">{{logo}}</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  <div class="collapse navbar-collapse" id="navbarcollapse" >
      <ul class="navbar-nav justify-content-center ml-auto mt-1 mb-1 me-3">
          <li class="nav-item">
          <a class="nav-link px-lg-4" href="#home">Home</a></li>
          <li class="nav-item">
            <a class="nav-link px-lg-4" href="#about" >About</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" href="#mywork">MyWork</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" routerLink="/skills">Skills</a></li>
          <button type="button" class="btn1 btn btn-danger px-lg-4">Resume</button>
        </ul>
    </div> 
   
  </nav>

<!-- 
  <nav data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#section1">Section 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section2">Section 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section3">Section 3</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
    <h1>Section 1</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  
  <div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
    <h1>Section 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  
  <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <h1>Section 3</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div> -->