
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container">
    <a class="navbar-brand font-weight-bold ms-4" routerLink="/home">{{logo}}</a>
    </div>
      
  
      <div class="navbar-nav ml-auto mt-1 mb-1 ">  
          <a class="nav-link px-lg-4" routerLink="/home">Home</a>
          <a class="nav-link px-lg-4" routerLink="/about">About</a>
          <a class="nav-link px-lg-4" routerLink="/mywork">MyWork</a>
          <a class="nav-link px-lg-4" routerLink="/skills">Skills</a>
          <button type="button" class="btn btn-danger px-lg-4 me-3">Resume</button>
      </div>
   
  </nav>
