<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
    <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Venu Katike</a>
    </div>
      

      <div class="navbar-nav ml-auto">
     
          <a class="nav-link px-lg-4" href="#">Home</a>
          <a class="nav-link px-lg-4" href="#">About</a>
          <a class="nav-link px-lg-4" href="#">MyWork</a>
          <a class="nav-link px-lg-4" href="#">Skills</a>
          <button type="button" class="btn btn-danger px-lg-4 ">Resume</button>
      </div>
   
  </nav>
<p class="bg-dark">
  Law career
  Political career
  Governor of West Bengal (2019 - 2022)
  Vice Presidency (2022–present)
  Toggle Vice Presidency (2022–present) subsection
  2022 vice-presidential election
  Tenure
  Electoral performance
  See also
  References
  Jagdeep Dhankhar
  
  Article
  Talk
  Read
  Edit
  View history
  
  Tools
  From Wikipedia, the free encyclopedia
  Jagdeep Dhankar
  
  Official Portrait, 2023
  14th Vice President of India
  Incumbent
  Assumed office
  11 August 2022
  President	Droupadi Murmu
  Prime Minister	Narendra Modi
  Preceded by	M. Venkaiah Naidu
  21st Governor of West Bengal
  In office
  30 July 2019 – 18 July 2022[1]
  Chief Minister	Mamata Banerjee
  Preceded by	Keshari Nath Tripathi
  Succeeded by	La. Ganesan (additional charge)
  Minister of State
  Parliamentary Affairs
  In office
  21 November 1990 – 21 June 1991
  Prime Minister	Chandra Shekhar
  Minister	Satya Prakash Malaviya
  Succeeded by	R. K. Kumar
  Member of Rajasthan Vidhan Sabha
  In office
  4 December 1993 – 29 November 1998
  Preceded by	Jagjeet Singh
  Succeeded by	Nathu Ram
  Constituency	Kishangarh, Rajasthan[2]
  Member of Parliament, Lok Sabha
  In office
  2 December 1989 – 21 June 1991
  Preceded by	Mohd. Ayub Khan
  Succeeded by	Mohd. Ayub Khan
  Constituency	Jhunjhunu
  Personal details
  Born	18 May 1951 (age 72)[3]
  Kithana, Jhunjhunu district, Rajasthan, India
  Political party	Bharatiya Janata Party (2003–2022)
  Other political
  affiliations	Janata Dal (until 1991)
  Indian National Congress (1991–2003)
  Spouse	Sudesh Dhankhar ​(m. 1979)​
  Residence(s)	Uprashtrapati Bhavan, New Delhi
  Alma mater	Sainik School Chittorgarh, Rajasthan University of Rajasthan (B.A., LLB)
  Occupation	Politician
  Profession	
  Advocate
  Website	vicepresidentofindia.nic.in
  Jagdeep Dhankhar (born 18 May 1951) is an Indian politician and lawyer, serving as the current Vice President of India since 2022. He previously served as the Governor of West Bengal from 2019 to 2022. He also served as a Union Minister of State for Parliamentary Affairs in the Chandra Shekhar ministry from 1990 to 1991. He was a member of Lok Sabha from 1989 to 1991 and later a Member of Rajasthan Legislative Assembly from 1993 to 1998. He has also been affiliated with multiple political parties in India, including the Bharatiya Janata Party, Indian National Congress and Janata Dal.
  
  Early life and education
  Jagdeep Dhankhar was born on 18 May 1951, in Kithana, a small village in the Jhunjhunu district of Rajasthan, India into a Jat family to parents Shri Gokal Chand and Smt. Kesari Devi.[4][5] He completed his school education from Sainik School, Chittorgarh. Dhankhar completed his primary and middle school education from Kithana Government School and Ghardhana Government School respectively. He graduated in B.Sc and LLB from the University of Rajasthan, Jaipur.[6][7]
  
  Dhankhar married Dr. Sudesh Dhankhar in 1979, and they have a daughter, Kamna.[8]
  
  Law career
  Dhankhar enrolled with the Bar Council of Rajasthan as an Advocate in 1979. He was designated as Senior Advocate by the High Court of Judicature for Rajasthan in 1990, and was the senior-most designated Senior Advocate of the state till taking the oath as Governor on 30 July 2019.[9]
  
  Since 1990, Dhankhar had been practicing primarily in the field of constitutional law as a senior advocate in the Supreme Court of India. He has appeared in various High Courts of India.[10] He is a former President of Rajasthan High Court Bar Association, Jaipur.[11]
  
  Dhankhar had appeared in the Sutlej River water dispute in 2016, he argued on behalf of the state of Haryana in the Supreme Court of India.[12]
  
  Political career
  He has been a member of Janata Dal and Indian National Congress in past.[13] He was a member of parliament of Janata Dal representing Jhunjhunu Lok Sabha constituency in Rajasthan during 1989–91 in the 9th Lok Sabha.
  
  He joined Congress in 1991. He lost the 1991 Indian general election from Ajmer Lok Sabha constituency.[14] He was elected as a Member of Legislative Assembly (MLA) from Kishangarh, Rajasthan during 1993–98 in the 10th Legislative Assembly Rajasthan.[15]
  
  He lost the 1998 Indian general election from Jhunjhunu Lok Sabha constituency and came on third position.[14]
  
  He joined the BJP in 2003.[13] He was a member of 2008 assembly election campaign committee of BJP. In 2016, he headed the BJP's law and legal affairs department.[14]
  
  Governor of West Bengal (2019 - 2022)
  
  Governor of West Bengal Jagdeep Dhankhar with Prime Minister of India Narendra Modi
  On 20 July 2019, Second Modi ministry through, President Ram Nath Kovind appointed him as Governor of West Bengal.[16] T. B. Radhakrishnan, Chief Justice of the Calcutta High Court administered the Oath of Office to Jagdeep Dhankhar on 30 July 2019 at the Raj Bhavan, Kolkata[17]
  
  After becoming the governor of West Bengal, Dhankhar had frequent public confrontations with the state government and chief minister of the state Mamata Banerjee throughout his tenure.[18][13] Dhankhar had been a vocal critic of the Third Banerjee ministry,[19][20] and frequently used Twitter and media to attack the West Bengal government over political issues. In response the ruling party in Bengal All India Trinamool Congress (AITC) referred Dhankhar as the 'real leader of the opposition'. In January 2022, CM Banerjee blocked Dhankhar on Twitter and accused him of mentioning her in his tweets daily and speaking in an unethical and abusive way.[14]
  
  On 13 July 2022, Dhankar met with Chief Minister of West Bengal Mamata Banerjee and Chief Minister of Assam Himanta Biswa Sharma.[21] Later on 15 July 2022, Dhankar visited Delhi and met Union Home Minister Amit Shah there.[22] He resigned as Governor on 17 July 2022, after being nominated as the vice-presidential candidate of the National Democratic Alliance.[23]
  
  Vice Presidency (2022–present)
  2022 vice-presidential election
  Further information: 2022 Indian vice presidential election
  
  President Droupadi Murmu administering the oath of office to Dhankhar as the 14th Vice President of India.
  On 16 July 2022, the BJP nominated Dhankhar as the National Democratic Alliance's candidate for Vice President of India for the 2022 election the following month.[24] Dhankhar has been projected as a kisan putra (farmer's son) by the BJP.[5] He contested against the United Opposition's candidate, Margaret Alva, a former Union Minister and Governor from the Indian National Congress. On 18 July 2022, Dhankhar filed his nomination papers for the Vice-president elections. He was accompanied by Prime Minister Narendra Modi and several other union ministers and BJP politicians.[25]
  
  The elections were conducted on 6 August, and the same evening counting of votes were carried out. Dhankhar emerged victorious by securing 528 votes out of the 725 MP votes from the lower and upper houses polled.[26] All India Trinamool Congress abstained from the election with only two members voting.[27]
  
  Dhankhar won the 2022 election with 74.37% votes and recorded a highest poll-victory margin since the 1992 election.[24][28]
  
  Tenure
  
  Dhankhar paying respects to Lal Bahadur Shastri on his birth anniversary in New Delhi on 2 October 2022.
  Dhankar assumed the office on 11 August 2022 succeeding Venkaiah Naidu, with the oath administered by the President of India, Droupadi Murmu in the central banquet hall of the Rashtrapati Bhavan.[26]
  
  
  Dhankar inspects the Guard of Honour at Indian Naval Academy in May 2023.
  Electoral performance
  This section is transcluded from 2022 Indian vice presidential election. (edit | history)
  Results of the Indian vice-presidential election, 2022
  Candidate
  Party (Coalition)	Electoral Votes
  % of Votes
  Jagdeep Dhankhar	BJP (NDA)	528	74.37
  Margaret Alva	INC (UO)	182	25.63
  Total	710	100
  Valid Votes	710	
  Invalid Votes	15	
  Turnout	725	92.95%
  Abstentions	55	7.05%
  Electors	780	
  See also
  List of governors of West Bengal
  2022 Indian vice presidential election
  References
   "Dhankhar resigns as Bengal guv after VP nomination, Manipur's La Ganesan gets additional charge". Hindustan Times. 17 July 2022. Archived from the original on 17 July 2022. Retrieved 17 July 2022.
   "Kishangarh Assembly Election MLA Political Data". entranceindia.com. 6 October 2018. Archived from the original on 17 July 2022. Retrieved 17 July 2022.
   "Jagdeep Dhankhar takes oath as West Bengal Governor". Outlook. 30 July 2019. Archived from the original on 13 January 2020. Retrieved 13 January 2020.
   "राजस्थान जाट महासभा कार्यक्रम में उपराष्ट्रपति उम्मीदवार Jagdeep Dhankar". YouTube (in Hindi). Archived from the original on 30 July 2022. Retrieved 30 July 2022. Self-identification between 2:56 and 3:02
   "Bengal Governor Dhankhar set to be new Vice-President, BJP hails 'kisan putra'". IndianExpress. 17 July 2022. Archived from the original on 16 July 2022. Retrieved 17 July 2022.
   "Jagdeep Dhankhar". Facebook. Retrieved 12 March 2018.
   "Jagdeep Dhankhar: NDA's VP candidate is a Jat leader, coffee lover and Mamata-critic". The Tribune. 16 July 2022. Archived from the original on 17 July 2022. Retrieved 17 July 2022.
   "पांच क‍िमी पैदल चल कर पढ़ने जाते थे पश्‍चिम बंगाल के राज्‍यपाल जगदीप धनकड़, सैन‍िक स्‍कूल में की है पढ़ाई". Jansatta (in Hindi). Archived from the original on 14 August 2022. Retrieved 17 July 2022.
   Saluja, Pallavi (12 August 2020). "Governor can become a "convenient punching bag" in the crossfire between political parties: Jagdeep Dhankhar, Governor of West Bengal". Bar and Bench. Archived from the original on 14 August 2022. Retrieved 17 July 2022.
   "Our Governor: Raj Bhavan, West Bengal, India". rajbhavankolkata.nic.in. Archived from the original on 17 July 2022. Retrieved 17 July 2022.
   "Who is Jagdeep Dhankhar, NDA's vice presidential candidate?". Firstpost. 16 July 2022. Archived from the original on 17 July 2022. Retrieved 17 July 2022.
   "Vice president candidate Jagdeep Dhankhar allotted chamber in SC on twin-sharing basis | EXCLUSIVE". Archived from the original on 20 July 2022. Retrieved 20 July 2022.
   "This one for farmers: The Hindu Editorial on NDA's nomination of Jagdeep Dhankhar for Vice-President". The Hindu. 17 July 2022. Archived from the original on 8 August 2022. Retrieved 8 August 2022.
   "Jagdeep Dhankhar: India's Most Talked About Governor Is NDA's Vice-Presidential Candidate". The Wire. 17 July 2022. Archived from the original on 8 August 2022. Retrieved 8 August 2022.
   "Our Governor: Raj Bhavan, West Bengal, India". Raj Bhavan, West Bengal, India. Archived from the original on 15 May 2021. Retrieved 15 May 2021.
   "Centre appoints four new Governors, Jagdeep Dhankar now in-charge of West Bengal". The Hindu. 20 July 2019. ISSN 0971-751X. Archived from the original on 20 July 2019. Retrieved 23 July 2022.
   "Jagdeep Dhankar takes oath as West Bengal governor". The Times of India. 30 July 2019. Archived from the original on 31 July 2019. Retrieved 17 July 2022.
   Law, Abishek (23 October 2019). "Bengal Governor Jagdeep Dhankhar's tenure marked by war of words with TMC". www.thehindubusinessline.com. Archived from the original on 23 July 2022. Retrieved 23 July 2022.
   "Bengal witnessed worst post-poll violence since Independence: Dhankhar". 15 June 2021. Archived from the original on 27 July 2022. Retrieved 27 July 2022.
   "Situation due to post-poll violence in Bengal alarming, worrisome: Governor Jagdeep Dhankhar". The Economic Times. Archived from the original on 27 July 2022. Retrieved 27 July 2022.
   "Mamata Banerjee Meets Himanta Sarma, Jagdeep Dhankhar In Darjeeling". NDTV.com. Archived from the original on 23 July 2022. Retrieved 23 July 2022.
   "Jagdeep Dhankhar meets Amit Shah in Delhi". Firstpost. 15 July 2022. Archived from the original on 22 July 2022. Retrieved 23 July 2022.
   "Dhankhar resigns as Bengal guv after VP nomination, Manipur's La Ganesan gets additional charge". Hindustan Times. 17 July 2022. Archived from the original on 23 July 2022. Retrieved 23 July 2022.
   "Jagdeep Dhankhar, West Bengal Governor, is NDA's Vice President candidate". The Indian Express. 16 July 2022. Retrieved 16 July 2022.
   "Jagdeep Dhankhar Files Papers For Vice-President Polls; PM Modi By His Side". NDTV.com. Archived from the original on 23 July 2022. Retrieved 23 July 2022.
   "Vice-Presidential Poll Live Updates: NDA candidate Jagdeep Dhankhar wins V-P election with 528 votes". The Indian Express. 6 August 2022. Archived from the original on 6 August 2022. Retrieved 6 August 2022.
   "Jagdeep Dhankhar Is New Vice President, Defeats Margaret Alva: 10 Points". NDTV.com. 6 August 2022. Archived from the original on 6 August 2022. Retrieved 6 August 2022.
   "With nearly 73% votes, Jagdeep Dhankhar's Vice-Presidential poll-victory margin highest since 1997". India Today. 7 August 2022. Archived from the original on 7 August 2022. Retrieved 7 August 2022.
  Lok Sabha
  Preceded by
  Mohd. Ayub Khan
  Member of Parliament
  for Jhunjhunu
  1989–1991	Succeeded by
  Mohd. Ayub Khan
  Rajasthan Legislative Assembly
  Preceded by
  Jagjeet Singh
  Member of the Legislative Assembly for Kishangarh
  1993–1998	Succeeded by
  Nathu Ram
  Government offices
  Preceded by
  Keshari Nath Tripathi
  Governor of West Bengal
  2019–2022	Succeeded by
  La. Ganesan
  Additional Charge
  Party political offices
  Preceded by
  Venkaiah Naidu
  National Democratic Alliance candidate for
  Vice President of India
  2022	Most recent
  Political offices
  Preceded by
  Venkaiah Naidu
  Vice President of India
  2022–present	Incumbent
  vte
  India Vice presidents of India
  vte
  Bharatiya Janata Party
  Categories: 1951 birthsVice presidents of IndiaBharatiya Janata Party politicians from RajasthanIndian Senior CounselPeople from Jhunjhunu districtGovernors of West BengalLok Sabha members from RajasthanIndia MPs 1989–1991Living peopleJanata Dal politiciansIndian National Congress politicians from RajasthanRajasthan MLAs 1993–1998People from Rajasthan
  This page was last edited on 14 December 2023, at 12:56 (UTC).</p>
</body>
</html>