.skills{
    padding: 64px;
    background-color: #1a202c;
}
.card:hover{
    background-color: #2f2f30;
}

.card-img-top{
    height: 150px;
    width: 160px;
 
}
.card{
    background-color: rgb(27, 26, 26);
}
